body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}
section {
	margin: 10px 0;
	width: 100vw;
}
.modal {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background-color: #fff;
	display: none;
	transition: all .4;
	border-radius: 15px;
}

.modal__title h1 {
	text-align: center;
}
.modal__buttons {
	width: 100%;
	margin: 10px auto;
}
.modal__buttons button, #show {
	text-align: center;
	display: block;
	width: 100px;
	margin: 100px auto 10px auto;
	
}
.game, .box-container, .box-item {
		display: flex;
		justify-content: center;
		align-items: center;
	}
.box-container {
		width: 502px;
		height: 502px;
		flex-wrap: wrap;
		background-color: #fff;
		border: 1px solid #888;
	}
	.box-item {
		width: 165px;
		height: 165px;
		background-color: #ccc;
		border: 1px solid #777;
		font-size: 130px;
		color:  #555;

	}
.game-title{
	display:block;
	margin-bottom:30px;
	font-size: 20px;
	font-weight:bold;
	text-align:center}
#reset-game{
	display:block;
	margin:20px auto;
	border:1px solid #000;

	background-color:#fff;
	padding:0 10px;
	cursor:pointer;
	-webkit-transition:all linear 0.3s;
	-o-transition:all linear 0.3s;
	transition:all linear 0.3s
}
#reset-game:hover{
	background-color:#ccc
}