body {
	margin: 0;
	padding: 0;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
	width: 100vw;
	height: 100vh;
}

.modal {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background-color: #fff;
	display: none;
	transition: all .4;
}
.modal__title h1 {
	text-align: center;
}
.modal__buttons {
	width: 100%;
	margin: 10px auto;
}
.modal__buttons button {
	text-align: center;
	display: block;
	width: 100px;
	margin: 100px auto 10px auto;
	
}